/* ========================
   Allgemeines Styling
   ======================== */
body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f8f9fa;
    min-height: 100vh;
    margin: 0;
}

/* ========================
   Container für Layouts
   ======================== */
.container-start, .container-blog {
    margin: auto;
    padding: 0 15px;
}

/* ========================
   Navigation
   ======================== */
.navbar {
    padding: 1rem;
    background-color: #354f52;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar img {
    width: 40px;
    height: 40px;
}

/* ========================
   Hero Section
   ======================== */
.hero-section {
    position: relative;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(45deg, #9b59b6, #bd4545, #4e73df);
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;
    color: white;
    padding: 0 20px;
    overflow: hidden;
}

.hero-section h1, .hero-section p {
    font-family: 'Montserrat', sans-serif;
    opacity: 0;
    animation: fadeInUp 1s forwards;
}

.hero-section h1 {
    font-weight: 600;
}

.hero-section p {
    font-weight: 200;
    animation-delay: 0.2s;
}

/* Hero Section Text Animation */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Scroll Animation */
@keyframes gradientAnimation {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

/* ========================
   Blog Cards
   ======================== */
.card {
    border: none;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card:hover {
    transform: translateY(-5px);
}

.card-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 15px;
}

.card-title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 10px;
    color: #222;
}

.card-text {
    font-size: 1rem;
    color: #555;
    margin-bottom: 15px;
}

.reading-time {
    font-size: 0.9rem;
    color: #555;
    margin-top: auto;
}

/* ========================
   Footer
   ======================== */
footer {
    background-color: #2f3e46;
    color: #bbb;
    text-align: center;
    padding: 20px;
    margin-top: auto;
}

/* ========================
   Blog Post Styles
   ======================== */
article {
    max-width: 100%;
    margin: 0 auto;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    hyphens: auto;
    line-height: 1.8;
}

h1 {
    margin-top: 20px;
}

/* ========================
   Responsives Design
   ======================== */
.img-fluid {
    width: 100%;
    height: 30vh;
    object-fit: cover;
    border-radius: 10px;
}

/* ========================
   Für kleine Smartphones
   ======================== */
@media (max-width: 700px) {
    .container-start, .container-blog {
        padding: 0 10px;
    }

    .hero-section {
        padding: 30px 0;
    }

    .hero-section h1 {
        font-size: 1.8rem;
    }

    .hero-section p {
        font-size: 1rem;
    }

    .card {
        margin: 8px;
    }

    .card-body {
        padding: 10px;
    }

    .card-title {
        font-size: 1.1rem;
    }

    .card-text {
        font-size: 0.9rem;
    }

    footer {
        font-size: 0.9rem;
    }

    article {
        padding: 20px 10px;
    }

    body {
        font-size: 0.9rem;
        line-height: 1.6;
    }

    .card-text,
    .text-justify {
        font-size: 0.9rem;
    }
}

/* ========================
   Desktop Design
   ======================== */
@media (min-width: 1200px) {
    article {
        margin: 0 20vh; /* Abstand zum Rand auf Desktop */
    }
}

/* ========================
   Text-Align
   ======================== */
.text-justify {
    text-align: justify;
    hyphens: auto;
}